<div class="container">
  <div class='brand'>
    <span>
      β-house
    </span>
  </div>

  <div class="center row">
    <div class="left-box col s6">

      <div class="cards card1">
        <img src="images/1.jpg" alt="">
        <img src="images/15.jpg" alt="">
        <h1>下沙的学长学姐们</h1>
      </div>
      <div class="cards card2">
        <img src="images/17.jpg" alt="">
        <h1>我们的荣誉</h1>
        <p>曾经我们携手维护学院官网，我们一起奋斗</p>

      </div>
      <div class="cards card3">
        <img src="images/2.png" alt="">
        <h1>We are family</h1>
        <p>虽然地方不大</p>
        <p>但却充满了我们的梦想，我们对家的热爱</p>
        <p>我们欢迎任何人加入我们的大家庭</p>
        <p>让betahouse 青春永驻</p>
      </div>
      <div class="cards card4">
        <img src="images/3.jpg" alt="">
        <h1>工作室的日常</h1>
      </div>
      <div class="cards card5">
        <img src="images/4.jpg" alt="">
        <h1>下沙篇结束了</h1>
        <p>纵有千万的不舍，我们也要继续前行</p>
        <p>青山湖的新篇章由你我来谱写</p>
      </div>

    </div>

    <div class="box right-box col s5 offset-s1">
      <p>下沙篇 梦开始的地方</p>
    </div>
    <div class="box right-box col s5 offset-s1">
      <p>星青年 科技之星</p>
    </div>
    <div class="box right-box col s5 offset-s1">
      <p>betahouse 是一家</p>
    </div>
    <div class="box right-box col s5 offset-s1">
      <p>一起happy</p>
    </div>
    <div class="box right-box col s5 offset-s1">
      <p>青山湖篇 我们一起圆梦</p>
    </div>
  </div>

</div>
