<div class="container">
  <div class="center row">
    <img class="brand" src="./images/betahouse.png" alt="">
    <div class="left-box col s5">

      <div class="cards card1">
        <img src="images/1.jpg" alt="">
        <img src="images/15.jpg" alt="">
        <h1>下沙的学长学姐们</h1>
      </div>
      <div class="cards card2">
        <img src="images/17.jpg" alt="">
        <h1>我们的荣誉</h1>
        <p>曾经我们携手维护学院官网，我们一起奋斗</p>

      </div>
      <div class="cards card3">
        <img src="images/2.png" alt="">
        <h1>一起敲代码的时光</h1>
        <p>热爱互联网，热爱技术</p>
        <p>时刻保持着对世界的好奇心</p>
        <p>欢迎志同道合的小伙伴加入我们</p>

      </div>
      <div class="cards card4">
        <img src="images/3.jpg" alt="">
        <h1>工作室的“日常”</h1>
      </div>
      <div class="cards card5">
        <img src="images/4.jpg" alt="">
        <h1>下沙篇结束了</h1>
        <p>纵有千万的不舍，我们也要继续前行</p>
        <p>青山湖的新篇章由你我一起谱写</p>
      </div>

    </div>

    <div class="box right-box col s5 offset-s2">
      <p>下沙篇 梦开始的地方</p>
    </div>
    <div class="box right-box col s5 offset-s2">
      <p>星青年 科技之星</p>
    </div>
    <div class="box right-box col s5 offset-s2">
      <p>我们相信自由和创新的力量</p>
    </div>
    <div class="box right-box col s5 offset-s2">
      <p>工作室“日常”</p>
    </div>
    <div class="box right-box col s5 offset-s2">
      <p>青山湖篇 重新出发</p>
    </div>
  </div>

</div>
