<!--
<div class="container">
  <div class="formComponent">
    <form class="col s12" id="entryForm" enctype="multipart/form-data" method="post" action='/post'>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="name" name="name" type="text" class="validate" pattern="[\u4e00-\u9fa5]{2,4}$" required>
          <label for="name">姓名</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="phone" name="phone" type="text" class="validate" pattern="^1\d{10}$|^[1-9]\d{5}$" required>
          <label for="phone">手机</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">mail_outline</i>
          <input id="email" type="email" name="email" class="validate" required>
          <label for="email">Email</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">format_list_numbered</i>
          <input id="stuNum" type="text" name="stuNum" class="validate" pattern="\d{8}$" required>
          <label for="stuNum">学号</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="introduction" class="materialize-textarea" name="introduction" maxlength="200" required></textarea>
          <label for="introduction">你的简介(200字以内)</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="experience" class="materialize-textarea" name="experience" maxlength="200" required></textarea>
          <label for="experience">迄今为止，你做过哪些有趣的事？(200字以内)</label>
        </div>
      </div>
      <div class="row">
        <div class="col 12">
          如有设计或网站作品, 请发送至zhoushidong@betahouse.us, 文件名为姓名+学号 :)
        </div>
      </div>
      <div class="row">
        <div class="col s10 offset-s1 center-align">
          <button class="btn waves-effect waves-light" type="submit" id="submitBtn">
              提交
                <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
        <div class="progress">
      <div class="indeterminate"></div>
      </div>
  </form>
</div>
</div>
-->

<h1>
  β-house 招新报名现已结束
</h1>
<h4>2017年4月9日</h4>