a {
  text-decoration: none;
  color: inherit;
}

footer {
  font-size: initial;
}

footer a {
  border-bottom: dotted 1px #666;
  color: inherit;
}

.section {
  text-align: center;
  background-size: cover;
}


/**
 * 关于betahouse
 * @type {[type]}
 */

.about {
  transition: opacity 1s ease;
  background-image: linear-gradient(45deg, #4fa49a, #4361c2);
}

.brand {
  width: 100%;
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  opacity: 0;
}

.brand>span {
  font-size: 20px;
}

.center {
  -webkit-perspective: 800;
  perspective: 800;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 60% 50%;
}

.box {
  transition: 1s;
  -webkit-transition: 1s;
  transform-style: preserve-3d;
  font-size: 20px;
  opacity: 0;
  display: none;
}

.col.box {
  padding: 0 40px;
}

.box p {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  line-height: 100px;
  margin: 0;
}

.center>.col.left-box {
  transform-style: preserve-3d;
  position: relative;
  margin: 40px 0 0 0;
  height: 650px;
  padding: 0;
}

.cards {
  width: 100%;
  opacity: 0;
  position: absolute;
  padding: 20px 0;
  /*height: 100%;*/
  transition: 1s;
  -webkit-transition: 1s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

.cards img {
  max-width: 90%;
  max-height: 90%;
  margin: 0 auto;
}

.cards>h1 {
  font-size: 30px;
  font-family: STKaiti, 华文楷体;
  margin: 1rem 0;
}

.card1 img {
  max-width: 85%;
}

.cards.card2 {
  padding: 0 20px;
}

.card2 img {
  margin-top: 40px;
}


/*.left-box>.card4,
.left-box>.card2,
.left-box>.card3,
.left-box>.card5{
  display: none;
  opacity: 0;
}*/

.card4>img {
  width: 85%;
}

.center>.right-box-hover {
  box-shadow: 10px 10px 17px 0 rgba(0, 0, 0, 0.2), 10px 15px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 1;
}

.center>.right-box {
  background-color: white;
  margin: 40px 0 0 40px;
  height: 100px;
}


/**
 * 提交报名表单
 * @type {[type]}
 */

.formComponent {
  margin: 0 auto;
  font-size: initial;
  text-align: initial;
  background-color: #ffffff;
  border-radius: 2px;
  padding: 19px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 0;
}


/**
 * 媒体检测
 * @type {[type]}
 */

@media screen and (min-width: 1500px) {
  .cards.card2 {
    padding: 0 5%;
  }
}

@media screen and (max-width: 1300px) {
  .center>.box:first-child {
    margin-top: 40px;
  }
  .center>.box {
    height: 80px;
  }
  .center>.box+.box {
    margin-top: 30px;
  }
  .center>.box>p {
    line-height: 80px;
  }
}

@media screen and (max-width: 1100px) {
  .row.center>.box {
    font-size: 16px;
    width: 30%;
    margin-left: 10%;
  }
  .row.center>.left-box {
    width: 60%;
  }
  .cards>h1 {
    font-size: 26px;
  }
  .col.box {
    padding: 0 20px;
  }
  .center>.box {
    height: 60px;
  }
  .center>.box>p {
    line-height: 60px;
  }
}

@media screen and (max-width: 1100px) {
  .row.center>.box {
    font-size: 16px;
    width: 37%;
    margin-left: 3%;
  }
  .col.box {
    padding: 0 15px;
  }
}

@media screen and (max-width: 800px) {
  .cards>h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    height: 100%;
  }
  .container .row {
    height: 100%;
  }
  .cards.card2 {
    padding: 8px 0;
  }
  .row.center>.col.left-box {
    height: 75%;
    width: 80%;
    margin: 20px auto 10px;
    float: none;
  }
  .row.center>.box {
    font-size: 14px;
    width: auto;
    margin-left: 3%;
    margin: 5px;
    height: 40px;
    padding: 0 5px;
  }
  .card2 img {
    margin-top: 10px;
  }
  .center>.col.left-box {
    height: 400px;
  }
  .row.center>.box>p {
    line-height: 40px;
  }
  .center>.right-box-hover {
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2), 5px 5px 10px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
  }
}

@media screen and (max-width: 400px) {
  .brand {
    padding: 5px 0;
  }
  .row.center>.col.left-box {
    margin: 10px auto 10px;
  }
  .row.center>.box {
    font-size: 12px;
    height: 30px;
  }
  .row.center>.box>p {
    line-height: 30px;
  }
}


/**
 * keyframe动画
 * @type {[type]}
 */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.about-title {
  -webkit-animation-name: aboutTitle;
  animation-name: aboutTitle;
  opacity: 1;
}

@-webkit-keyframes aboutTitle {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes aboutTitle {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0px);
  }
}

.move-card {
  -webkit-animation-name: moveCard;
  animation-name: moveCard;
  opacity: 1;
  z-index: -1;
}

@-webkit-keyframes moveCard {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-800px);
    opacity: 0;
  }
}

@keyframes moveCard {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-800px);
    opacity: 0;
  }
}

.show-card {
  -webkit-animation-name: showCard;
  animation-name: showCard;
  opacity: 1;
  display: block;
}

@-webkit-keyframes showCard {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showCard {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bigger {
  -webkit-animation-name: bigger;
  animation-name: bigger;
  background-color: rgba(255, 255, 255, 0.8);
}

@keyframes bigger {
  from {
    transform: translateZ(-10000px);
    opacity: 0;
  }
  to {
    transform: translateZ(0);
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

@-webkit-keyframes bigger {
  from {
    transform: translateZ(-10000px);
    opacity: 0;
  }
  to {
    transform: translateZ(0);
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

@-webkit-keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: .6;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: .6;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
  opacity: .6;
  display: block;
}

@-webkit-keyframes flipInYFirst {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    opacity: 1;
    box-shadow: 10px 10px 17px 0 rgba(0, 0, 0, 0.2), 10px 15px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

@keyframes flipInYFirst {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    opacity: 1;
    box-shadow: 10px 10px 17px 0 rgba(0, 0, 0, 0.2), 10px 15px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.flipInYFirst {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInYFirst;
  animation-name: flipInYFirst;
  opacity: 1;
  display: block;
}